.App {
  height: 100vh;
}

.App-header {
  height: 6.25vh;
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 2.5vh;
}

.App-logo {
  height: 5vh;
  margin-left: 1vh;
  margin-right: 0.5vh;
}

.App-body {
  height: 93.75vh;
  background-color: #202830;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.Menu {
  display: flex;
  flex-direction: row;
  height: 10vh;
  align-items: flex-start;
  justify-content: left;
  width: 100%;
}

.Main-window{
  height: calc(73.75vh - 1px);
  width: 100%;
  display: flex;
  flex-direction: row;
}
